
@import "tailwindcss";

@layer base {
  :root {
    --bg-dark: #0c001f;
    --nav-bg: #1a013d;
    --primary: #6c42d3;
    --primary-hover: #8257e5;
    --secondary: #b0a8d1;
    --text-main: #FFFFFF;
    --text-muted: #c9c9c9;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  body {
    background-color: var(--bg-dark);
    color: var(--text-main);
  }

  .pixelated {
    image-rendering: pixelated;
  }

  .cursor {
    display: inline-block;
    width: 3px;
    background-color: #6c42d3;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
}